# Main folder
.pytest_cache
.idea/
docs

# Source folder
src/__pycache__
src/.pytest_cache

# Tests folder
tests/__pycache__
tests/.pytest_cache

# Python virtual environment
venv/
.venv/

# File types
*.json

# Environment variables
.env

# Pickle files
*.pickle
